.container {
    display: block;
    width: 65%;
    background-color: white;
    padding: 1.75rem;
    margin-left: auto;
    margin-right: auto;

  }
  
  .headerAndButton {
    padding-bottom: 1rem;
  }
  
  .headerAndButton .header h2{
     font-weight: 600;
  }
  .cross_btn {
    text-align: end;
  }
  
  .consult_images {
    border-left: 1px solid black;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;

  }
  
  .consult_images .carousel .carousel-inner {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-control.ng-touched.ng-invalid {
    border: 1px solid red;
  }
  
  .form-control.ng-touched.ng-valid {
    border: 1px solid green;
  }
  