<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">InstaCURE</a>
  </nav>
  
  <div class="container">
  
  
  
    <img class="photo" src="assets/admin.jpg" alt='Loading profile'>
    <div class="content1">
      <table>
          <tbody>
              <tr>
                  <th>Name</th>
                  <td width="50px" style="text-align: center"> : </td>
                  <td>Doctor</td>
                </tr>
                <tr>
                  <th>DOB</th>
                  <td width="50px" style="text-align: center"> : </td>
                  <td>01-01-2001</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td width="50px" style="text-align: center"> : </td>
                  <td>xyz@gmail.com</td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td width="50px" style="text-align: center"> : </td>
                  <td>Unknown</td>
                </tr>
               
              </tbody>
      </table>
  </div>
  
    <div class="content2">
        <table>
            <tbody>
              
             
                <tr>
                    <th>Address</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>City</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>State</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Country</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Postal Code</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Education Qualification</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Speciality</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Year of Expertise</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Schedule</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>-</td>
                  </tr><br>
                  <tr>
                    <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
                  </tr>
                </tbody>
        </table>
  
    </div>
  
    
  </div>
  <router-outlet></router-outlet>