<div class="container">
  <h3 class="card-header text-center bg-info text-light mt-5">Update Medicine</h3><br><br><br>
  <div [hidden]="submitted" class="xyz">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Quantity <span style="color: red;">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="qnt" required [(ngModel)]="Medicine.qnt" name="qnt">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Price <span style="color: red;">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" required [(ngModel)]="Medicine.price" name="price">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Category <span style="color: red;">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="category" required [(ngModel)]="Medicine.category" name="category">
        </div>
      </div><br>
    
      <div class="form-group row">
        <div class="col" style="margin-left: 200px;">
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col" style="margin-left: 500px;">
          <button (click)="gotoList()" type="button" value="submit" class="btn btn-danger ">cancel</button>
        </div>
      </div><br>
    </form>
    <div [hidden]="!submitted">
      <h4>Successfully Updated!!</h4>
    </div>
  </div>

  
</div>