@import url(../../navBar/navBar.component.css);
.xyz{
    text-align: left;
}
h1{
    font-weight: bolder;
    text-align: center;
    color:rgb(54, 95, 227);
    text-shadow: -1px 0 black
}
.col{
    min-width: 200px ;
}