<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#"><img src="../../../assets/instaCure-IMG-nbg.png" style="height: 50px; " ></a>
  <div class="container-fluid">
    <input type="checkbox" class="ms-auto" id="check" />
    <label for="check" class="checkbtn">
      <i class="smallNav"><img src="../assets/menu.png" alt="" /></i>
    </label>

    <div class="myNavBar ms-auto" id="navbarRight">
      <ul class="navbar-nav mb-2 mb-lg-0">




        <li class="nav-item">

          <a class="nav-link"  routerLink="/landing-page">
            <button type="submit" class="btn  btn-danger btn-lg ">
              Home
            </button>
          </a>
        </li>


      </ul>
    </div>
  </div>
</nav>
<div class="panel panel-primary">
  <br>
  <div class="panel-heading d-flex justify-content-center ">
    <h2>Medicine List</h2>
    <div class="nav-item active" style=" position: absolute;
    right: 0;">
      <a class="btn btn-info btn-group-sm"  routerLink="/add">add new </a>
    </div>
  </div>
  <div class="panel-body">
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Medicine Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Medicine of Medicines | async">
          <td>{{Medicine.medicinename}}</td>
          <td>{{Medicine.qnt}}</td>
          <td>{{Medicine.price}}</td>
          <td>{{Medicine.category}}</td>
          <td><button (click)="deleteMedicine(Medicine.mid)" class="btn btn-danger btn-group-sm">Delete</button>
              <button (click)="updateMedicine(Medicine.mid)" class="btn btn-info btn-group-sm" style="margin-left: 10px">Update</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

