<body >
    
  <div  class="doctor style=background-color: hsla(0, 74%, 75%, 0.633);">
    <div class="heading">
      <h1>Doctor profile</h1>
    </div>

    <div class="row profile">
        
      <div class="col-lg-3 col-md-2 col-sm-2 col-2 image" >
        <img [src]="imglocation" alt="Still loading" width="200px" height="200px"><br>
        <input type="file"  >
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-8"  >
        <!-- Doctor Profile -->
        <!-- 1st row start -->
        <div class="row">
          <div class="col-lg-6">
             <label for="fname" class="labels">First name</label>
            <input type="text" ngModel #fname="ngModel" class="form-control" id="fname" name="fname"  required="required">
            <div *ngIf="fname.touched && fname.invalid " class="alert">
              *Please enter your first name.
            </div>
          </div>
          <div class="col-lg-6">
            <label for="lname" class="labels">Last name</label>
            <input type="text" ngModel #lname="ngModel" name="lname" class="form-control" id="lname"  required="required">
            <div *ngIf="lname.touched && lname.invalid " class="alert">
              *Please enter your last name.
            </div>

          </div>
        </div>
        <!-- 1st row end -->
        <!-- 2nd row start -->
        <div class="row">
          <div class="col-lg-5">
            <label for="gender" class="labels">Gender</label>
            <select class="form-select" id="gender"  required>
              <option selected disabled value="">Choose...</option>
              <option> MALE </option>
              <option> FEMALE </option>
              <option> OTHER </option>
            </select>
          </div>
          <div class="col-lg-1">
          </div>
          <!-- dob validation not working -->
          <div class="col-lg-6">
            <label for="dob">Date of Birth</label>
          <input type="date" ngModel #dob="ngModel" name="dob" class="form-control" id="dob" required="required" min="01-01-2020"/>
           <div *ngIf="dob.touched && dob.invalid " class="alert">
            *Date of Birth is required
          </div>
          <div *ngIf="dob.touched && dob.invalid && dob.errors?.['min']" class="alert">
            *Wrong DOB
          </div> 
          </div>
        </div>
        <!-- 2nd row end -->
        <!-- 3rd row start -->
        <div class="row">
          <div class="col-lg-6">
            <label for="email" class="labels">Email address</label>
            <input type="email" ngModel #email="ngModel" id="email" name="email" class="form-control"
            required="required" placeholder="name@example.com">
            <div *ngIf="email.touched && email.invalid " class="alert">
              *Please enter your email.
            </div>

          </div>
        </div>
        <!-- 3rd row end -->
        <!-- 4th row start -->
        <div class="row">
          <div class="col-lg-12">
            <label for="inputAddress" class="labels">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
        </div>
        <!-- 4th row end -->
        <!-- 5th row start -->
        <div class="row">
          <div class="col-lg-6">
            <label for="inputCity" class="labels">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="labels">State</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>Andhra Pradesh</option>
              <option>Arunachal Pradesh</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option>Chhattisgarh</option>
              <option>Goa</option>
              <option>Gujarat</option>
              <option>Haryana</option>
              <option>Himachal Pradesh</option>
              <option>Jharkhand</option>
              <option>Karnataka</option>
              <option>Kerala</option>
              <option>Madhya Pradesh</option>
              <option>Maharashtra</option>
              <option>Manipur</option>
              <option>Meghalaya</option>
              <option>Mizoram</option>
              <option>Nagaland</option>
              <option>Odisha</option>
              <option>Punjab</option>
              <option>Rajasthan</option>
              <option>Sikkim</option>
              <option>Tamil Nadu </option>
              <option>Telangana</option>
              <option>Tripura</option>
              <option>Uttar Pradesh</option>
              <option>Uttarakhand</option>
              <option>West Bengal </option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="inputZip" class="labels">postal code</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-2"></div>
    </div>
 <!-- 2nd table start -->
<div class="row profile" style="margin-top: 1rem;">
    <div class="col-lg-3 col-md-2 col-sm-2 col-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-8"  >
      <div class="row">
        <div class="col-lg-6"> <label for="Education" class="labels">Education Qualification </label>
          <input type="text" class="form-control" id="Education" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-lg-4">
          <label for="speciality" class="labels">Speciality </label>
          <input type="text" class="form-control" id="speciality" required>
          <div class="valid-feedback">
            Looks good!
          </div>

        </div>
      </div>
      <!-- 6th row end -->
      <!-- 7th row start -->
      <div class="row">
        <div class="col-lg-4">
          <label for="year of expertise" class="labels">Year of Expertise </label>
          <input type="text" class="form-control" id="year of expertise" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-lg-1">
        </div>

        <div class="col-lg-4">
          <label for="schedule" class="labels">Schedule </label>
          <input type="text" class="form-control" id="schedule" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
          <label for="consultation fee" class="labels">Consultation Fee </label>
          <input type="text" class="form-control" id="consultation fee" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <!-- 7th row end -->
      <!-- 8th row start -->
      <div class="row">
        <div class="col-log-6">
            <label for="document" class="labels">Doctor licence</label><br>
            <input type="file"  >
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-2"></div>
  </div>
</div>
<div class="row profile">
    <div class="col-lg-3 col-md-2 col-sm-2 col-2"></div>
    <div class="col-lg-8 col-md-2 col-sm-2 col-2">
        <div class="row" style="margin-top: 1rem;" >
            <div class="col-lg-10 col-md-2 col-sm-2 col-2"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div> 
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-2"></div>
</div>

<!-- <button mat-raised-button color="primary">EDIT</button> -->
</body>