<div class="container" style="height: 100%;">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">InstaCURE</a>
</nav>
<div class="modal-body row">
  <div class="col-md-3">
    <!-- Your first column here -->
    <img class="img1" src="../../assets/aman_1.jpg"
      alt='Loading profile'>
    <br>
    <button type="submit" class="btn btn-primary"> Update</button>
  </div>
  <div class="col-md-9">
    <!-- Your second column here -->
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Mobile">
        </div>
        <div class="col">
          <input type="email" class="form-control" placeholder="E-mail">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <textarea class="form-control" id="address" required rows="3" placeholder="Address"></textarea>
        </div>     
      </div>
      <br>

      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="State">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="postal" required minlength="6" maxlength="6" pattern="^[0-9]*$" placeholder="Postal Code">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <label for="formFileLg" class="form-label">Licenses</label>
            <input type="file" class="form-control" placeholder="License">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary"> Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>