<!-- <div class="container" >

  <div class="modal-body row" >
    <div class="col-md-3 ">
  
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid bg-light" >
      <br>
      <button type="submit" class="btn btn-warning mt-2"> Upload</button>
    </div>
    <div class="col-md-9   mb-2" >
    
      <form >
        
        <br>
        <div class="form-group row">
          <div class="col">
            <textarea class="form-control" id="address" required rows="3" placeholder="Address" required [(ngModel)]="Volunteer.address" name="category"></textarea>
          </div>
        </div>
        <br>

        <div class="form-group row">
          <div class="col">
            <input type="text" class="form-control" placeholder="City" required [(ngModel)]="Volunteer.city" name="city">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="State" required [(ngModel)]="Volunteer.state" name="state">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="postal" required minlength="6" maxlength="6" pattern="^[0-9]*$"
              placeholder="Postal Code" required [(ngModel)]="Volunteer.zipcode" name="zipcode">
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col">
            <label for="formFileLg" class="form-label mb-0 mt-3">Licenses</label>
            <input type="file" class="form-control" placeholder="License">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <div class="col">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary mb-2"> Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->


<div class="one" *ngFor="let Volunteera of Volunteers ">
  <div class="container py-1">
    <div class=" d-flex align-items-center justify-content-center">
      <div class="col-lg-4 mt-1">
        <div class="two">

          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid bg-light" style="width: 100px;">
            <h5 class="my-3">{{Volunteera.user.uname}}</h5>
            <p class="text-muted mb-1">Volunteer</p>
           
            
          </div>
        </div>
      </div>
    </div>
  </div>
  



  <div class=" d-flex align-items-center justify-content-center">

    <div class="col-lg-8 mt-0 ">
      <div class="two">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0">{{Volunteera.user.uname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0">{{Volunteera.user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-6">
                <p class="text-muted mb-0">{{Volunteera.user.mobile}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-6">
                <span class="text-muted mb-0">
                  <div class="form-group row">
                    <div class="col">
                      <textarea class="form-control form-control-sm" id="address" required rows="1"
                        placeholder="Address" required [(ngModel)]="Volunteer.address" name="category"></textarea>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-6">
                <span class="text-muted mb-0">
                  <div class="col">
                    <input type="text" class="form-control form-control-sm" placeholder="City" required
                      [(ngModel)]="Volunteer.city" name="city">
                  </div>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">State</p>
              </div>
              <div class="col-sm-6">
                <span class="text-muted mb-0">
                  <div class="col">
                    <input type="text" class="form-control form-control-sm " placeholder="State" required
                      [(ngModel)]="Volunteer.state" name="state">
                  </div>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Postal Code</p>
              </div>
              <div class="col-sm-6">
                <span class="text-muted mb-0">
                  <div class="col">
                    <input type="text" class="form-control form-control-sm" id="postal" required minlength="6"
                      maxlength="6" pattern="^[0-9]*$" placeholder="Postal Code" required
                      [(ngModel)]="Volunteer.zipcode" name="zipcode">
                  </div>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-6">
                <span class="text-muted mb-0">
                  <div class="col">
                    <input type="text" readonly class="form-control form-control-sm " placeholder="India"
                      name="Country">
                  </div>
                </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Liscences</p>
              </div>
              <div class="col-sm-6">
                <span class="text-muted mb-0">
                  <div class="form-group row">
                    <div class="col">
                      <input type="file" class="form-controlform-control-sm" placeholder="License">
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="d-flex justify-content-center mb-0">
                <button type="submit" (click)="onSubmit()" class="btn btn-primary mb-2"> Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>