<!-- 

  <div class="container" *ngFor="let Volunteer of Volunteers " >
    

    <div class="content1" >
        <table >
            <tbody >
                <tr>
                    <th>Name</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>{{Volunteer.user.uname}}</td>
                  </tr>
                  <tr>
                    <th>Mobile NO</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>{{Volunteer.user.mobile}}</td>
                  </tr>
                  <tr>
                    <th>Gender</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>Male</td>
                  </tr>
                  <tr>
                    <th>Medical Lisence</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td></td>
                  </tr>
                </tbody>
        </table>
    </div>

    <img class="photo" src="assets/profile.jpg" alt='Loading profile'>

    <div class="content2">
        <table>
            <tbody>
                <tr>
                    <th>Address</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>City</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>State</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Country</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Postal Code</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr><br>
                  <tr>
                    
                    <td><button class="btn btn-primary" (click)="UpdateProfile(Volunteer.vid)">Update</button></td>
                    
                  </tr>
                </tbody>
        </table>

    </div>

    
  </div> -->



  <div class="one" *ngFor="let Volunteer of Volunteers ">
    <div class="container py-1">
      <div class=" d-flex align-items-center justify-content-center">
        <div class="col-lg-4 mt-1">
          <div class="two" >

            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid bg-light" style="width: 100px;">
              <h5 class="my-3">{{Volunteer.user.uname}}</h5>
              <p class="text-muted mb-1">Volunteer</p>
              <p class="text-muted mb-4">Bilaspur</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" (click)="UpdateProfile(Volunteer.vid)">Update
                  Profile</button>
                <!-- <button type="button" class="btn btn-outline-primary ms-1">Message</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class=" d-flex align-items-center justify-content-center" >
      <div class="col-lg-8 mt-0 ">
        <div class="two">
          <div class="card-body mb-2">
            <div class="row">
              <div class="col-sm-9">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-3">
                <p class="text-muted mb-0">{{Volunteer.user.uname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">aman@123.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">01234-5678</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bilaspur</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">ABC</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">State</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">HP</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Postal Code</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">174031</p>
              </div>
            </div>
            <hr>
            <div class="row">`
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">India</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  