<div class="container py-1">
  <div class=" d-flex align-items-right justify-content-right">
    <div class="col-lg-3 mt-1">
      <div class="two" style="margin-left:140px;width:250px;height:180px">

        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid bg-light" style="width: 100px;">
          <h5 class="my-3">Patient Name</h5>
          <p class="text-muted mb-1">Patient</p>


        </div>
      </div>
    </div>

    <div class="col-lg-4 mt-1" >
      <div class="two" style="margin-left:80px;width:460px;height:180px">

        <div class="card-body text-center" style="margin-left:10px">

          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-6">
              <p class="text-muted mb-0">Name</p>
            </div>
          </div><hr>
          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-6">
              <p class="text-muted mb-0">Email</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-6">
              <p class="text-muted mb-0">1234</p>
            </div>
          </div>


        </div>
      </div>
    </div>


    <div class="col-lg-3 mt-1"style="margin-left:120px">
      <div class="two" style="width:280px;height:180px">

        <div class="card-body">
          <h5>Pre-Medical Condition</h5>

          <ul class="checkbox-items">
            <li *ngFor="let item of checkboxesDataList">
              <input class="form-check-input" type="checkbox" name="item" id="item" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}

            </li>
            <li>
              <input class="form-check-input" type="checkbox" id="m6" (change)="takeOthers($event)" [(ngModel)]="medcheck" name="m6">
              <label class="form-check-label" for="m6">Others</label>
              <div *ngIf="Checked" class="">
                <textarea class="form-control form-control-sm" ngModel #others="ngModel" name="others" id="others" required rows="1"
                  [(ngModel)]="otherSymp"></textarea>
              </div>
            </li>
          </ul>



        </div>
      </div>
    </div>
  </div>


</div>




<div class=" d-flex align-items-center justify-content-center">

  <div class="col-lg-8 mt-0 ">
    <div class="two">
      <div class="card-body">
        <form>

          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Date of Birth</p>
            </div>
            <div class="col-sm-6">
              <span class="text-muted mb-0">
                <div class="form-group row">
                  <div class="col">
                    <input type="date" ngModel #dob="ngModel" name="dob" class="form-control form-control-sm" id="dob" required min="01-01-1920"
                    [(ngModel)]="Patient.dob" />
                  </div>
                </div>
              </span>
            </div>
          </div><hr>

          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-6">
              <span class="text-muted mb-0">
                <div class="form-group row">
                  <div class="col">
                    <textarea class="form-control form-control-sm" id="address" required rows="1"
                      placeholder="Address" required [(ngModel)]="Patient.address" name="category"></textarea>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">City</p>
            </div>
            <div class="col-sm-6">
              <span class="text-muted mb-0">
                <div class="col">

            <select class="form-control form-control-sm" ngModel #city="ngModel" name="city" id="city" required [(ngModel)]="Patient.city" placeholder="City">
              <option
                    [value]="option"
                    *ngFor="let option of options;"
                    >{{option}}</option
  >
            </select>

                </div>
              </span>
            </div>
          </div>
          <hr>


          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Postal Code</p>
            </div>
            <div class="col-sm-6">
              <span class="text-muted mb-0">
                <div class="col">
                  <input type="text" class="form-control form-control-sm" ngModel #postal="ngModel" id="postal" required minlength="6"
                    maxlength="6" pattern="^[0-9]*$" placeholder="Postal Code" required
                    [(ngModel)]="Patient.postalCode" name="postal"/>
                    <div *ngIf="postal.touched && postal.invalid && postal.errors?.['minlength']; else elseBlock" class="alert">
                      *Please enter a valid Postal code
                    </div>
                    <ng-template #elseBlock><div *ngIf="postal.touched && postal.invalid && postal.errors?.['pattern']" class="alert">
                      *Please enter a valid Postal code
                    </div>  </ng-template>
                    <div *ngIf="postal.touched && postal.invalid && postal.errors?.['maxlength']" class="alert">
                      *Please enter a valid Postal code
                    </div>

                </div>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Country</p>
            </div>
            <div class="col-sm-6">
              <span class="text-muted mb-0">
                <div class="col">
                  <input type="text" readonly class="form-control form-control-sm " placeholder="India"
                    name="Country">
                </div>
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <p class="mb-0">Medical record</p>
            </div>
            <div class="col-sm-6">
              <span class="text-muted mb-0">
                <div class="form-group row">
                  <div class="col">
                    <input type="file" class="form-controlform-control-sm" placeholder="Medical Record">
                  </div>
                </div>
              </span>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <div class="d-flex justify-content-center mb-0">
              <button type="submit" (click)="validate()" class="btn btn-primary mb-1"> Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>






<!--  <div class="container-md">
  <div class="container-sm">


    <div class="heading">
      <h1>Patient profile update</h1>
    </div>


    <div class="content1">

      <form #patform="ngForm" (ngSubmit)="validate()">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="email">Email address</label>
            <input type="email" ngModel #email="ngModel" id="email" name="email" class="form-control"
              required="required" placeholder="name@example.com" [(ngModel)]="Patient.email" />

          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="mob">Mobile No.</label>
            <input type="text" ngModel #mob="ngModel" name="mob" class="form-control" id="mob" required="required"
              minlength="10" maxlength="10" pattern="^[0-9]*$" placeholder="1234567890" [(ngModel)]="Patient.mobile" />


            <div *ngIf="mob.touched && mob.invalid && mob.errors?.['minlength']" class="alert">
              *Please enter a valid Mobile number
            </div>
            <div *ngIf="mob.touched && mob.invalid && mob.errors?.['maxlength']" class="alert">
              *Please enter a valid Mobile number
            </div>
            <div *ngIf="mob.touched && mob.invalid && mob.errors?.['pattern']" class="alert">
              *Please enter a valid Mobile number
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="dob">Date of Birth</label>
            <input type="date" ngModel #dob="ngModel" name="dob" class="form-control" id="dob" required min="01-01-1920"
              [(ngModel)]="Patient.dob" />

            <div *ngIf="dob.touched && dob.invalid && dob.errors?.['min']" class="alert">
              *Wrong DOB
            </div>
          </div>
        </div>

        <div class="form-check">
          <div class="row">
            <div class="col">
              <p>Gender</p>
            </div>
            <div class="col">

              <input type="radio" ngModel #gen1="ngModel" name="gen1" class="form-check-input" id="gen1" value="Male" />
              <label class="form-check-label" for="gen1">Male</label>
            </div>
            <div class="col">

              <input type="radio" ngModel #gen2="ngModel" name="gen1" class="form-check-input" id="gen1"
                value="Female" />
              <label class="form-check-label" for="gen1">Female</label>
            </div>
            <div class="col">

              <input type="radio" ngModel #gen1="ngModel" name="gen1" class="form-check-input" id="gen1"
                value="Others" />
              <label class="form-check-label" for="gen1">Others</label>
            </div>
          </div>
        </div>



        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="address">Address</label>
            <textarea class="form-control" ngModel #address="ngModel" name="address" id="address" required rows="3"
              [(ngModel)]="Patient.address"></textarea>


          </div>

        </div><br>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="city">City</label>
            <select class="form-control" ngModel #city="ngModel" name="city" id="city" required [(ngModel)]="Patient.city">
              <option>Bengaluru</option>
              <option>Chennai</option>
              <option>Mumbai</option>
              <option>Kolkata</option>
              <option>Delhi</option>
            </select>


          </div><br>


          <div class="form-group col-md-4">
            <label for="country">Country</label>
            <input class="form-control" type="text" readonly placeholder="India" />
          </div>


          <div class="form-group col-md-4">
            <label for="postal">Postal Code</label>
            <input type="text" class="form-control" ngModel #postal="ngModel" name="postal" id="postal" required
              minlength="6" maxlength="6" pattern="^[0-9]*$" placeholder="123456" [(ngModel)]="Patient.postalCode" />


            <div *ngIf="postal.touched && postal.invalid && postal.errors?.['minlength']" class="alert">
              *Please enter a valid Postal code
            </div>
            <div *ngIf="postal.touched && postal.invalid && postal.errors?.['maxlength']" class="alert">
              *Please enter a valid Postal code
            </div>
            <div *ngIf="postal.touched && postal.invalid && postal.errors?.['pattern']" class="alert">
              *Please enter a valid Postal code
            </div>
          </div>
        </div> <br>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

      </form>


    </div>



    <img class="img1" src="assets/profile.jpg" alt='Loading profile'>


    <div class="med">


      <form #patform="ngForm">
        <div class="form-group">
          <label for="med">Medical records </label> <br>
          <input type="file" ngModel #med="ngModel" name="med" required class="form-control-file" id="med" />
          <div *ngIf="med.touched && med.invalid" class="alert">
            *Please upload medical records
          </div>
        </div><br>

        <ul class="checkbox-items">
          <li *ngFor="let item of checkboxesDataList">
            <input class="form-check-input" type="checkbox" name="item" id="item" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}

          </li>
          <li>
            <input class="form-check-input" type="checkbox" id="m6" (change)="takeOthers($event)" [(ngModel)]="medcheck" name="m6">
            <label class="form-check-label" for="m6">Others</label> <br>
            <div *ngIf="Checked" class="">
              <textarea class="form-control" ngModel #others="ngModel" name="others" id="others" required rows="2"
                [(ngModel)]="otherSymp"></textarea>
            </div>
          </li>
        </ul>
        <br>

      </form>

    </div>

  </div>
</div>!-->

