
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">InstaCURE</a>
  </nav>
  
  <div class="container">
    
    
    <div class="content1">
        <form [formGroup]="patForm" #pat="ngForm">
            <div class="form-row">
                <div class="form-group col-md-12">
              <label for="email">Email address</label>
              <input type="email" id="email" class="form-control" formControlName="email" required placeholder="name@example.com">
              
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger">

              <div *ngIf="email.errors?.['required']">
                Email is required.
                </div>
              </div>
            </div>
            </div>
            <br>

            <div class="input-group">
                <div class="col-md-6 mb-3">
                <label for="mob">Mobile No.</label>
                <input type="text" class="form-control" id="mob" required minlength="10" maxlength="10" pattern="^[0-9]*$" placeholder="1234567890">                
              </div> 

              <div class="col-md-6 mb-3">
                <label for="dob">Date of Birth</label>
                <input type="date" class="form-control" id="dob" required>
              </div>
            </div><br>

            <div class="form-row">
                <div class="form-group col-md-12">
                <label for="address">Address</label>
                <textarea class="form-control" id="address" required rows="3"></textarea></div>
              </div><br>
            
              <div class="input-group">
                <div class="form-group col-md-4">
                <label for="city">City</label>
                <select class="form-control" id="city" required>
                  <option>Bengaluru</option>
                  <option>Chennai</option>
                  <option>Mumbai</option>
                  <option>Kolkata</option>
                  <option>Delhi</option>
                </select>
              </div><br>

              
                <div class="form-group col-md-4">
                <label for="country">Country</label>
                <input class="form-control" type="text" placeholder="India" readonly>
              </div><br>

              
                <div class="form-group col-md-4">
                <label for="postal">Postal Code</label>
                <input type="text" class="form-control" id="postal" required minlength="6" maxlength="6" pattern="^[0-9]*$" placeholder="123456">
              </div> <br>
              </div>  <br>        

              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div></div>
            
          </form>

                    
    </div>

    
        
        <img class="img1" src="assets/profile.jpg" alt='Loading profile'>
        

        <div class="med">
            

                <form>
                    <div class="form-group">
                        <label for="med">Medical records </label> <br>
                        <input type="file" class="form-control-file" id="med">
                        </div><br>
        
                      <div class="form-group">
                        <label for="cond">Pre-existing medical condition </label> <br>
                        <div class="form-check">                      
                            <input class="form-check-input" type="checkbox" value="" id="m1">
                            <label class="form-check-label" for="m1">Cholestrol</label> <br>
                            </div>
                        <div class="form-check">                      
                            <input class="form-check-input" type="checkbox" value="" id="m2">
                            <label class="form-check-label" for="m2">High Blood Pressure</label> <br>
                            </div>
                        <div class="form-check">                      
                            <input class="form-check-input" type="checkbox" value="" id="m3">
                            <label class="form-check-label" for="m3">Diabetes</label> <br>
                            </div>
                        <div class="form-check">                      
                            <input class="form-check-input" type="checkbox" value="" id="m4">
                            <label class="form-check-label" for="m4">Asthma</label> <br>
                            </div>
                        <div class="form-check">                      
                            <input class="form-check-input" type="checkbox" value="" id="m5">
                            <label class="form-check-label" for="m5">Heart disease</label> <br>
                            </div>
                        <div class="form-check">                      
                            <input class="form-check-input" type="checkbox" id="m6" checked="true">
                            <label class="form-check-label" for="m6">others</label> <br>
                            </div>
                        
                      </div><br>

                      <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Update</button>
                        </div></div>
                </form>
            

        </div>


        
        
  
</div>
