<div class="container">
  <h3 class="card-header text-center bg-danger text-light mt-5">ADD Medicine</h3><br><br><br>
  <div [hidden]="submitted" class="xyz">

    <!--<form (ngSubmit)="onSubmit()">

      <table class="table table-hover table-striped">


        <tr id="x">
          <td> <label for="name">Medicine Id <span style="color: red;">*</span></label></td>
          <td> <input type="text" id="mid" class="form-control" required [(ngModel)]="Medicine.mid" name="mid"></td>
        </tr>

        <tr>
          <td> <label for="name">Medicine Name <span style="color: red;">*</span></label></td>
          <td> <input type="text" class="form-control" id="firstName" required [(ngModel)]="Medicine.medicinename"
              name="firstName"></td>
        </tr>


        <tr id="x">
          <td> <label for="name">Quantity <span style="color: red;">*</span></label></td>
          <td> <input type="text" class="form-control" id="qnt" required [(ngModel)]="Medicine.qnt" name="qnt"></td>
        </tr>

        <tr>
          <td>
            <label for="name">Price <span style="color: red;">*</span></label></td>
          <td><input type="text" class="form-control" id="price" required [(ngModel)]="Medicine.price" name="price">
          </td>
        </tr>


        <tr id="x">
          <td> <label for="name">Category <span style="color: red;">*</span></label></td>
          <td> <input type="text" class="form-control" id="category" required [(ngModel)]="Medicine.category"
              name="category"></td>
        </tr>
      </table>
      <div class="row">
        <div class="col">
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col">
          <button (click)="gotoList()" type="button" value="submit" class="btn btn-danger ">cancel</button>
        </div>
      </div>
    </form>-->
    <form (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Medicine Id <span style="color: red;">*</span> </label>
        <div class="col-sm-10">
          <input type="text" id="mid" class="form-control" required [(ngModel)]="Medicine.mid" name="mid">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Medicine Name <span style="color: red;">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" required [(ngModel)]="Medicine.medicinename"
            name="firstName">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Quantity <span style="color: red;">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="qnt" required [(ngModel)]="Medicine.qnt" name="qnt">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Price <span style="color: red;">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" required [(ngModel)]="Medicine.price" name="price">
        </div>
      </div><br>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Category <span style="color: red;">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="category" required [(ngModel)]="Medicine.category" name="category">
        </div>
      </div><br>
    
      <div class="form-group row">
        <div class="col" style="margin-left: 200px;">
          <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col" style="margin-left: 500px;">
          <button (click)="gotoList()" type="button" value="submit" class="btn btn-danger ">cancel</button>
        </div>
      </div><br>
    </form>
    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
      <!-- <button class="btn btn-success" (click)="newMedicine()">Add</button> -->
    </div>
  </div>

  
</div>
