section{
  padding-top: 50px;
  height: 93.5vh;
  overflow: hidden;
}
/* .container1{
    width:80%;
    height: 700px;
    background: linear-gradient(to bottom, #ee7724, #d8363a, #dd3675,  #ee7724);
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 30px;
}
.container2{
    width:95%;
    height: 645px;
    background-color: white;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 30px;
}
.container3{
    width:60%;
    height: 600px;
    background-color: white;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    border-style: solid;
    border-color: #b44593;
    border-radius: 30px;
}

.content1{
    width:40%;
    height: 200px;
    background-color: white;
    color:black;
    position: absolute;
    margin-left: 300px;
    margin-top: 100px;

}
.content2{
    width:56.5%;
    height: 270px;
    background-color: white;
    color:black;
    position: absolute;
    margin-left: 80px;
    margin-top: 40px;

}
.content3{
    width:34%;
    height: 600px;
    background-color: white;
    color:black;
    position: absolute;
    margin-left:735px;
    margin-top: 25px;
    padding: 100px 50px;
    border-style: solid;
    border-color: #b44593;
    border-radius: 30px;

}
.photo{
    width:250px;
    height: 250px;
    margin-left: 20px;
    margin-top: 30px;
} */
