

  <div class="container1">
    <div class="container2">
      

    <div class="content3">
        <table>
            <thead>
                <h4>Pre-Existing Medical Conditions</h4>
            </thead>
            <tbody>
                
                    <tr>Cholestrol</tr>
                    <tr>Diabetes</tr>
                    <tr>High blood pressure</tr>
                    <tr>Hypertension</tr>
                    <tr>Arthritis</tr>
            </tbody>
        </table>

    </div>

    <div class="container3">

    <div class="content1">
        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>Karthika</td>
                  </tr>
                  <tr>
                    <th>DOB</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>15-05-2000</td>
                  </tr>
                  <tr>
                    <th>Gender</th>
                    <td width="50px" style="text-align: center"> : </td>
                    <td>Female</td>
                  </tr>
                  <tr>
                    <th>Medical record</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td></td>
                  </tr>
                </tbody>
        </table>
    </div>

    <img class="photo" src="assets/profile.jpg" alt='Loading profile'>

    <div class="content2">
        <table>
            <tbody>
                <tr>
                    <th>Address</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>City</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>State</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Country</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Postal Code</th>
                    <td width="50px" style="text-align: center">:</td>
                    <td>-</td>
                  </tr><br>
                  <tr>
                    
                    <td><button class="btn btn-primary" (click)="UpdateProfile()">Update</button></td>
                    
                  </tr>
                </tbody>
        </table>

    </div>
  </div>

    
  </div>
</div>

