<section class="vh-100" style="background: linear-gradient(to bottom, #ff9934,#ff9934, #ffffff, #ffffff,#ffffff, #138708,#138708)" >
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px; background-color: #f7f7f7;">
            <div class="card-body p-md-3" >
              <div class="row justify-content-center">

                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 w-48">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                  <form class=" mx-1 mx-md-4" [formGroup]="myregform" >

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" name="uname" for="form3Example1c">Full Name <span style="color: red;">*</span></label>
                        <input type="text" id="form3Example1c" formControlName="uname" class="form-control" placeholder="Full Name" />

                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" name="mail" for="form3Example3c">Email <span style="color: red;">*</span></label>
                        <input type="email" id="form3Example3c" formControlName="mail" class="form-control" placeholder="Enter email" />

                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" name="mobile" for="form3Example4c">Mobile Number <span style="color: red;">*</span></label>
                        <input type="number" id="form3Example4c" formControlName="mobile" class="form-control" placeholder="Mobile Number"/>

                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" name="password" for="form3Example4cd">Create Password <span style="color: red;">*</span></label>
                        <input type="password" id="form3Example4cd" formControlName="password" class="form-control" placeholder="Password"/>

                      </div>
                    </div>
                    <!-- <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" name="dob" for="form3Example4ce">Your Date-of-Birth</label>
                        <input type="text" id="form3Example4ce" formControlName="dob" class="form-control" />

                      </div>
                    </div> -->

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <label class="form-check-label" name="gender" for="form2Example3">Select Gender : &nbsp; </label>
                      <span>Male &nbsp;</span> <input class="form-check-input me-2"  formControlName="gender"  type="checkbox" value="" id="form2Example3c" /><span>&nbsp;&nbsp;</span>
                      <span>Female &nbsp;</span> <input class="form-check-input me-2" formControlName="gender" type="checkbox" value="" id="form2Example3c" /><span>&nbsp;&nbsp;</span>
                      <span>Other &nbsp;</span> <input class="form-check-input me-2" formControlName="gender"  type="checkbox" value="" id="form2Example3c" /><span>&nbsp;&nbsp;</span>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" [disabled]="!myregform.valid" class="btn btn-primary btn-lg" (click)="myreg()">Register</button>
                    </div>

                  </form>

                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex ml-auto p-lg-5 align-items-center order-1 order-lg-2">

                  <img src="../../assets/regis5.png"
                    class="img-fluid p-5" alt="Sample image" >

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-login></app-login>
