@import url(../navBar/navBar.component.css);

section{
  height:93.59vh;
  overflow: hidden;
}

#formbox{
  padding-top: 90px;
  padding-bottom: 129px;
}
.form-check-label{
  font-size: 16px;
}
.checkbox{
  padding-top: 2px;
}
#rolename{
  padding-top: 3px;
}
#rolename,#patient,#doctor,#volunteer,#Check,#agree:hover{
  cursor: pointer;
}
@media (max-width: 992px) {
 section{
  height: 100%;
 }
}
